@model List<ResultCertificateDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Certificates</h1>
<table class="table table-hover table-bordered">
    @{
        int count = 0;
    }
    <tr>
        <th>#</th>
        <th>Name</th>
        
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            
            <td>
                <a asp-controller="Certificate" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                <a asp-controller="Certificate" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-info">Update</a>
            </td>
        </tr>
    }
</table>
<a asp-controller="Certificate" asp-action="Create" class="btn btn-outline-dark">Create</a>

